<html>
  <head>

    <title>Cheeper - better than Twitter</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

  </head>
  <body>
   
    <div class = "header">
  	<h1>Cheeper</h1>
    </div>
    <div class="form">
  	<form action='/api/cheep' method="POST">
      Name:
      <input name="name" type="text" /> 
      Cheep:
      <input name="cheep" type="text" maxlength="76" /> 
      <input type="submit" />
    </form>
  </div>
    <div id="feed">
      <div class = "bird">
    	<h2><font color='white'> Cheeps </font></h2>
    </div>
    	{% for cheep in cheeps %}
    <div class="cheep">
        <b>{{ cheep[0] }}</b>
        <p>{{ cheep[2] }}</p>
    </div>
    {% endfor %}
    </div>
  </body>
</html>